.add-to-bag-btn {
  margin-right: 10px;
  font-weight: 900;
  background: $my-sin;
  padding: 5px 30px 2px;
  text-transform: uppercase;
  font-size: 17px;
  &:hover {
    background: lighten($my-sin, 5%);
  }
}
.bag-thumb {
  height: 20px;
  margin-right: 0.6em;
}
.vue-select-image__wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.vue-select-image__item {
  margin: 0px 5px 5px 0px;
  display: table-cell;
}

.vue-select-image__thumbnail{
  width: 180px;
  cursor: pointer;
  padding: 6px;
  border: 1px solid #dddddd;

  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.vue-select-image__thumbnail--selected{
  background: #0088cc;
  color: white;
}

.vue-select-image__thumbnail--disabled{
  background: #b9b9b9;
  cursor: not-allowed;
}

.vue-select-image__thumbnail--disabled > .vue-select-image__img{
  opacity: .5;
}

.vue-select-image__img{
  -webkit-user-drag: none;
  display: block;
  max-width: 100%;
  max-width:150px;
  margin-right: auto;
  margin-left: auto;
}

.vue-select-image__lbl{
  line-height: 3;
  white-space: pre-wrap;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) {
  .vue-select-image__item {
    margin-left: 30px;
  }
}
.vue-select-image__lbl{
  text-align: center;
  width: 100%;
}
.dateInput{
  background: white;
}
.textInput{
  background: white;
  width:500px;
}
